{{ define "tasks-form" }}
    <h1>{{ if .IsNew }}Редактировать задачу {{ else }}Создать задачу {{ end }}</h1>
    <form method="POST" action="{{ if .IsNew }}/tasks{{ else }}/tasks/{{ .TaskID }}{{ end }}">
        <input type="hidden" name="_method" value="{{ if .IsNew }}POST{{ else }}PUT{{ end }}">
        <div class="form-group">
            <label for="title">Название</label>
            <input type="text" id="title" name="title" value="{{ if not .IsNew }}{{ .Task.Title }}{{ end }}" required minlength="3" maxlength="100">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea name="description" id="description" maxlength="500">{{ if not .IsNew }}{{ .Task.Description }}{{ end }}</textarea>
        </div>
        <div class="form-group">
            <label for="status">Статус</label>
            <select name="status" id="status" required>
                <option value="todo">{{ if not .IsNew }}{{ if and .Task (eq .Status "todo") }}selected{{ end }}{{ end }}ToDo</option>
                <option value="in_progress">{{ if not .IsNew }}{{ if and .Task (eq .Status "in_progress") }}selected{{ end }}{{ end }}In Progress</option>
                <option value="done">{{ if not .IsNew }}{{ if and .Task (eq .Status "done") }}selected{{ end }}{{ end }}Done</option>
            </select>
        </div>
        <button type="submit" class="btn">{{ if .Task }}Обновить{{ else }}Создать{{ end }}</button>
    </form>
{{ end }}

{{ template "base" . }}